<nav class="h-20">
  <div class="flex justify-between items-center container mx-auto h-full">
    <a href="/"
      class="select-none text-2xl font-bold bg-gradient-to-r from-wewak-600 to-wewak-400 inline-block text-transparent bg-clip-text">
      Phatsanphon
    </a>

    <ul class="flex gap-2 items-center">
      <li>
        <a href="/assets/resume.pdf" size="lg" target="_blank" hlmBtn variant='outline' class="flex gap-2 items-center">
          Resume
        </a>
      </li>
    </ul>

    <!-- <hlm-sheet>
      <button brnSheetTrigger hlmBtn size="icon" side="right">
        <hlm-icon name="lucideMenu" />
      </button>
      <hlm-sheet-content *brnSheetContent='let ctx'>
        <hlm-sheet-header>
          <h3 hlmSheetTitle>Edit Profile</h3>
          <p hlmSheetDescription>Make changes to your profile here. Click save when you're done.</p>
        </hlm-sheet-header>
      </hlm-sheet-content>
    </hlm-sheet> -->
  </div>
</nav>